<div class="bg">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/meet"> <img src="/assets/images/meeting.png">MeetUP</a>
      Welcome to MeetUP Application
    </nav>
  
  
  
    <div class="row">
      <div class="col-md-4">
  
      </div>
      <div class="col-md-4">
        <div class="card">
          <h4 class="card-title btn btn-success">Reset password </h4>
  
          <div class="card-body">
            <div class="card-text">
  
              <div class="col-sm p-5">
  
                <label for="inputEmail" class="sr-only">Email address</label>
  
                <input type="email" id="inputEmail" class="form-control" [(ngModel)]="resetEmail" readonly
                  required >
  
                <br>
  
                <label for="inputPassword" class="sr-only">Password</label>
  
                <input type="password" id="inputPassword" class="form-control" [(ngModel)]="resetPassword" placeholder="Password"
                  required autofocus>
  
                <br>
  
  
              </div>
  
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="button" (click)="updatePasswordByLink()">Update Password</button>
  
        </div>
      </div>
      <div class="col-md-4">
  
      </div>
  
  
    </div>
  
    <br> <br><br><br><br><br><br><br>
    <!-- Footer -->
    <footer class="footer">
  
  
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        venkatbijjam.in
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
  
  </div>