

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/meet"> <img src="/assets/images/meeting.png">MeetUP</a> 
    
    <div *ngIf="userInfo.admin">
        Welcome to Admin Portal @<b> {{userInfo.userName}}</b>
  
    </div>
    <div *ngIf="!userInfo.admin">
        Welcome to Planning Portal @<b> {{userInfo.userName}}</b>
  
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="dropdown">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <button class="btn btn-outline-primary my-2 my-sm-0 maxwidth">{{userInfo.firstName}} &nbsp; {{userInfo.lastName}} </button>
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">
                    <button class="btn btn-info widthColor" (click)="goToProfile()">Profile Settings</button>
                 
                  </a>
                <a class="dropdown-item">
                    <button class="btn btn-info my-2 my-sm-0 widthColor" (click)="goToUpdatePassword()">Update Password</button>
                 
                  </a>
                <div class="dropdown-divider"></div>
   
                <a class="dropdown-item">
                <button class="btn btn-outline-danger my-2 my-sm-0 widthColor" (click)="goToLogout()">Logout</button>
                  
                </a>
              </div>
            </div>
        </div>
      </nav>
  
  <br>
  
    <div class="row">
      <div class="col-md-4">
  
      </div>
      <div class="col-md-6">
        <div>
          <h4>Update password </h4>
  
       
            
  
                  <mat-form-field class="col-12 col-md-8 offset-1">
                      <input  type="text" matInput name="password" placeholder="Email" [(ngModel)]="userInfo.email" required  readonly >
                    </mat-form-field>
                   
                <br>
  

    <mat-form-field class="col-12 col-md-8 offset-1">
        <input  type="password" matInput name="password" placeholder="Old Password" [(ngModel)]="oldPassword" required  minlength="6" >
      </mat-form-field>
     
  
                <br>
          
                  <mat-form-field class="col-12 col-md-8 offset-1">
                      <input  type="password" matInput name="newpassword" placeholder="New Password" [(ngModel)]="password" required  minlength="6" >
                    </mat-form-field>
                   
                <br>
  
              </div>

              <div class="col-md-6">
                  <button class="btn btn-lg btn-outline-primary btn-block" type="button" (click)="updatePasswordBySystem()">Update Password</button>

              </div>
  
            </div>
          
  
      
      <div class="col-md-2">
  
      </div>
  
    </div>
  
    <br> <br><br><br><br><br><br><br>
    <!-- Footer -->
    <footer class="footer">
  
  
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        venkatbijjam.in
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->
